resources/*.zip
editor.conf
editor_acl.xml
local.conf
resource-cache
logs
settings.xml
backups
databases
modules
banlist.xml
dbconmy.dll
deathmatch.dll
editor_acl.xml
editor.conf
internal.db
local.conf
lua5.1.dll
pcre3.dll
registry.db
server-id.keys
vehiclecolors.conf
