<acl>
    <group name="Everyone">
        <acl name="Default"></acl>
        <object name="user.*"></object>
        <object name="resource.*"></object>
    </group>
    <group name="Moderator">
        <acl name="Moderator"></acl>
    </group>
    <group name="Admin">
        <acl name="Admin"></acl>
        <acl name="RPC"></acl>
    </group>
    <group name="Console">
        <acl name="Admin"></acl>
        <acl name="Console"></acl>
        <acl name="RPC"></acl>
        <object name="user.Console"></object>
    </group>
    <group name="Developer">
        <acl name="Developer"></acl>
        <acl name="Admin"></acl>
        <object name="user.shahanshah"></object>
        <object name="resource.admin"></object>
    </group>
    <group name="sql">
        <acl name="sql"></acl>
        <object name="resource.sql"></object>
        <object name="resource.limitmess"></object>
    </group>
    <group name="autoGroup_acpanel">
        <acl name="autoACL_acpanel"></acl>
        <object name="resource.acpanel"></object>
    </group>
    <acl name="Default">
        <right name="general.ModifyOtherObjects" access="false"></right>
        <right name="general.http" access="false"></right>
        <right name="command.start" access="false"></right>
        <right name="command.startall" access="false"></right>
        <right name="command.stop" access="false"></right>
        <right name="command.stopall" access="false"></right>
        <right name="command.restart" access="false"></right>
        <right name="command.restartall" access="false"></right>
        <right name="command.refresh" access="false"></right>
        <right name="command.refreshall" access="false"></right>
        <right name="command.addaccount" access="false"></right>
        <right name="command.delaccount" access="false"></right>
        <right name="command.debugscript" access="false"></right>
        <right name="command.chgpass" access="false"></right>
        <right name="command.loadmodule" access="false"></right>
        <right name="command.login" access="true"></right>
        <right name="command.register" access="true"></right>
        <right name="command.logout" access="false"></right>
        <right name="command.upgrade" access="false"></right>
        <right name="command.mute" access="false"></right>
        <right name="command.unmute" access="false"></right>
        <right name="command.kick" access="false"></right>
        <right name="command.ban" access="false"></right>
        <right name="command.banip" access="false"></right>
        <right name="command.unbanip" access="false"></right>
        <right name="command.shutdown" access="false"></right>
        <right name="command.install" access="false"></right>
        <right name="command.aexec" access="false"></right>
        <right name="command.whois" access="false"></right>
        <right name="command.whowas" access="false"></right>
        <right name="command.run" access="false"></right>
        <right name="command.srun" access="false"></right>
        <right name="command.crun" access="false"></right>
        <right name="function.executeCommandHandler" access="false"></right>
        <right name="function.setPlayerMuted" access="false"></right>
        <right name="function.addAccount" access="false"></right>
        <right name="function.addBan" access="false"></right>
        <right name="function.removeBan" access="false"></right>
        <right name="function.removeAccount" access="false"></right>
        <right name="function.setAccountPassword" access="false"></right>
        <right name="function.kickPlayer" access="false"></right>
        <right name="function.banIP" access="false"></right>
        <right name="function.banPlayer" access="false"></right>
        <right name="function.banSerial" access="false"></right>
        <right name="function.getBansXML" access="false"></right>
        <right name="function.unbanIP" access="false"></right>
        <right name="function.unbanSerial" access="false"></right>
        <right name="function.getClientIP" access="false"></right>
        <right name="function.setServerPassword" access="false"></right>
        <right name="function.getServerPassword" access="false"></right>
        <right name="function.callRemote" access="false"></right>
        <right name="function.startResource" access="false"></right>
        <right name="function.stopResource" access="false"></right>
        <right name="function.restartResource" access="false"></right>
        <right name="function.createResource" access="false"></right>
        <right name="function.copyResource" access="false"></right>
        <right name="function.addResourceMap" access="false"></right>
        <right name="function.addResourceConfig" access="false"></right>
        <right name="function.removeResourceFile" access="false"></right>
        <right name="function.setResourceDefaultSetting" access="false"></right>
        <right name="function.removeResourceDefaultSetting" access="false"></right>
        <right name="function.redirectPlayer" access="false"></right>
        <right name="function.aclReload" access="false"></right>
        <right name="function.aclSave" access="false"></right>
        <right name="function.aclCreate" access="false"></right>
        <right name="function.aclDestroy" access="false"></right>
        <right name="function.aclSetRight" access="false"></right>
        <right name="function.aclRemoveRight" access="false"></right>
        <right name="function.aclCreateGroup" access="false"></right>
        <right name="function.aclDestroyGroup" access="false"></right>
        <right name="function.aclGroupAddACL" access="false"></right>
        <right name="function.aclGroupRemoveACL" access="false"></right>
        <right name="function.aclGroupAddObject" access="false"></right>
        <right name="function.aclGroupRemoveObject" access="false"></right>
        <right name="function.mysql_connect" access="false"></right>
        <right name="function.mysql_close" access="false"></right>
        <right name="function.mysql_errno" access="false"></right>
        <right name="function.mysql_error" access="false"></right>
        <right name="function.mysql_ping" access="false"></right>
        <right name="function.mysql_select_db" access="false"></right>
        <right name="function.mysql_escape_string" access="false"></right>
        <right name="function.mysql_affected_rows" access="false"></right>
        <right name="function.mysql_change_user" access="false"></right>
        <right name="function.mysql_get_character_set_info" access="false"></right>
        <right name="function.mysql_get_client_info" access="false"></right>
        <right name="function.mysql_get_client_version" access="false"></right>
        <right name="function.mysql_get_host_info" access="false"></right>
        <right name="function.mysql_get_proto_info" access="false"></right>
        <right name="function.mysql_get_server_info" access="false"></right>
        <right name="function.mysql_get_server_version" access="false"></right>
        <right name="function.mysql_hex_string" access="false"></right>
        <right name="function.mysql_info" access="false"></right>
        <right name="function.mysql_insert_id" access="false"></right>
        <right name="function.mysql_query" access="false"></right>
        <right name="function.mysql_unbuffered_query" access="false"></right>
        <right name="function.mysql_set_character_set" access="false"></right>
        <right name="function.mysql_stat" access="false"></right>
        <right name="function.mysql_warning_count" access="false"></right>
        <right name="function.shutdown" access="false"></right>
        <right name="function.dbConnect" access="false"></right>
    </acl>
    <acl name="Moderator"></acl>
    <acl name="Admin">
        <right name="general.ModifyOtherObjects" access="true"></right>
        <right name="general.http" access="true"></right>
        <right name="command.shutdown" access="true"></right>
        <right name="command.install" access="true"></right>
        <right name="command.aexec" access="true"></right>
        <right name="command.debugscript" access="true"></right>
        <right name="command.upgrade" access="true"></right>
        <right name="command.crun" access="true"></right>
        <right name="command.srun" access="true"></right>
        <right name="command.run" access="true"></right>
        <right name="command.aclrequest" access="true"></right>
        <right name="function.addBan" access="true"></right>
        <right name="function.setUnbanTime" access="true"></right>
        <right name="function.setBanAdmin" access="true"></right>
        <right name="function.setBanReason" access="true"></right>
        <right name="function.setBanNick" access="true"></right>
        <right name="function.removeBan" access="true"></right>
        <right name="function.reloadBans" access="true"></right>
        <right name="function.executeCommandHandler" access="true"></right>
        <right name="function.setServerPassword" access="true"></right>
        <right name="function.getServerPassword" access="true"></right>
        <right name="function.createResource" access="true"></right>
        <right name="function.copyResource" access="true"></right>
        <right name="function.addResourceMap" access="true"></right>
        <right name="function.addResourceConfig" access="true"></right>
        <right name="function.removeResourceFile" access="true"></right>
        <right name="function.setResourceDefaultSetting" access="true"></right>
        <right name="function.removeResourceDefaultSetting" access="true"></right>
        <right name="function.aclReload" access="true"></right>
        <right name="function.aclSave" access="true"></right>
        <right name="function.aclCreate" access="true"></right>
        <right name="function.aclDestroy" access="true"></right>
        <right name="function.aclSetRight" access="true"></right>
        <right name="function.aclRemoveRight" access="true"></right>
        <right name="function.aclCreateGroup" access="true"></right>
        <right name="function.aclDestroyGroup" access="true"></right>
        <right name="function.aclGroupAddACL" access="true"></right>
        <right name="function.aclGroupRemoveACL" access="true"></right>
        <right name="function.aclGroupAddObject" access="true"></right>
        <right name="function.aclGroupRemoveObject" access="true"></right>
        <right name="function.refreshResources" access="true"></right>
        <right name="function.setServerConfigSetting" access="true"></right>
        <right name="function.updateResourceACLRequest" access="true"></right>
        <right name="function.shutdown" access="true"></right>
    </acl>
    <acl name="RPC">
        <right name="function.callRemote" access="true"></right>
        <right name="function.fetchRemote" access="true"></right>
    </acl>
    <acl name="sql">
        <right name="function.dbConnect" access="true"></right>
        <right name="function.shutdown" access="true"></right>
        <right name="function.addAccount" access="true"></right>
    </acl>
    <acl name="Developer">
      <right name="command.start" access="true"></right>
      <right name="command.stop" access="true"></right>
      <right name="command.restart" access="true"></right>
      <right name="command.refresh" access="true"></right>
      <right name="command.reloadACL" access="true"></right>
      <right name="function.aclReload" access="true"></right>
    </acl>
    <acl name="Console">
      <right name="command.start" access="true"></right>
      <right name="command.startall" access="true"></right>
      <right name="command.stop" access="true"></right>
      <right name="command.stopall" access="true"></right>
      <right name="command.restart" access="true"></right>
      <right name="command.restartall" access="true"></right>
      <right name="command.refresh" access="true"></right>
      <right name="command.refreshall" access="true"></right>
      <right name="command.reloadACL" access="true"></right>
      <right name="function.aclReload" access="true"></right>
    </acl>
    <acl name="autoACL_acpanel">
        <right name="function.setServerConfigSetting" access="false" who="" pending="true" date=""></right>
        <right name="function.kickPlayer" access="false" who="" pending="true" date=""></right>
        <right name="function.fetchRemote" access="false" who="" pending="true" date=""></right>
    </acl>
</acl>
